@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    transition: all 0.5s;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    display: block; max-width: 100%;
}
body{
    font-size: 14px;
}
header{
    width: 100%;
    height: 100px;
    background-color: teal;
    overflow: hidden;
}
#top{
    width: 73.68%;/* (1400/1900)*100 */
    height: 100px;
    margin: auto;
    background-color: blueviolet;
}
#top>a{
    display: block;
    width: 17.86%;/* (250/1400)*100 */
    height: 40px;
    line-height: 40px;
    background-color: blue;
    text-align: center;
    float: left;
    margin: 30px;
    font-size: 22px;
    font-weight: 900;
    text-decoration: underline;
    color: darkgoldenrod;
}
#top>a span{
    color: #fff;
}
#top ul{
    width: 62.14%;
    float: right;
    line-height: 40px;
    margin: 30px;
}
#top ul li{
    float: left;
    margin-right: 3.45%; /* (30/870)*100 */
    text-align: center;
    width: 17.24%;/* (150/870)*100 */
    background-color: blue;
    border-radius: 10px;
}
#top ul li:last-child{
    margin-right: 0;
}
#top ul li a{
    color: #fff;
    font-size: 16px;
    text-decoration: underline;
    font-weight: 700;
}
main{
    width: 100%;
    padding: 100px 0;
    overflow: hidden;
    background-image: url(img/pixabay_main.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
    /* 높이값을 부여하지 않고 cover을쓸수는 있는데 높이값이 정해지면 안된다*/
}
main h1{
    font-size: 50px;
    margin: 40px 0;
}
main h4{
    font-size: 18px;
}
main button{
    border: none;
    background-color: darkorange;
    color: #fff;
    padding: 10px 30px;
    display: block;
    margin: 40px auto;
}
section{
    width: 69.63%;
    overflow: hidden;
    margin: 50px auto;
    background-color: burlywood;
}
section h2{
    color: teal;
    text-align: center;
    font-size: 25px;
    margin: 40px;
    font-size: 22px;
    font-weight: 700;
}
.text{
    width: 37.79%;
    overflow: hidden;
    margin: 40px auto;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
    background-color: bisque;
}
#contents{
    width: 100%;
    overflow: hidden;
}
.bn{
    width: 25%;
    padding: 40px;
    border-right: 1px solid #191919;
    box-sizing: border-box;
    float: left;
    text-align: center;
}
.bn:last-child{
    border-right: none;
}
.bn img{
    margin: 5px auto;
}
footer{
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: #ccc;
    color: #fff;
}
@media screen and (max-width:1142px) {
    #top ul li a{
        font-size: 10px;
    }
    
}