*{
    padding:0;
    margin: 0;
}
a{
    text-decoration: none;
    color: #fff;
}
li{
    list-style: none;
}
body{
    background-color: #333;
}

#all{
    width: 1600px;
    height: 100%;
    position: relative;
    margin: 0 auto;
    
}
#all .left{
    width:200px;
    height: 100%;
    background-color: black;
    float: left;
    position: fixed;
    text-align: center;
}
#all .left>h1{
    margin: 50px 0;
    color: gold;
}
#all .left ul{
    width: 100px;
    overflow: hidden;
    margin-bottom: 30px;
    position:relative;
    top:0;
    left: 50px;
}
#all .left ul li{
    float: left;
    color: #fff;
    margin: 3px 0;
}
#all input[type="text"]{
    width: 120px;
    height: 30px;
    border: 1px solid #333;
    background-color: black;
}
.left .sch{
    position: relative;
    right:20px;
}

#all .right{
    width: 1400px;
    height: 100%;
    background-color: gold;
    float: right;
}
.right .title{
    width: 500px;
    height: 100px;
    overflow: hidden;
    background-color: #c9e627e7;
    position: relative;
    margin: 40px auto;
    text-align: center;
}
.title li>a:hover{
    color: white;
    font-size: 16px;
    font-weight: 800;
}
.right .title ul{
    position: absolute;
    top:70px;
    left: 100px;
}
.right .title ul li{
    float: left;
    margin: 0 30px;
}
.right li a{
    color: #000;
}
.right .main{
    width: 1298px;
    overflow: hidden; 
    margin: auto;
}
.img-1 img{
    float: left;
    width: 302px;
    height: 405px;
    margin-right: 30px;
    display: block;
    margin-bottom: 30px;
    box-shadow: 5px 5px;
    box-sizing: border-box;
}
.img-1 img:last-child{
    margin-right:0;
    
}
